hr {
    border-top: 3px solid black;
}


fig {
    padding: 0;
    margin: 0;
}

fig:before {
    counter-increment: figuras;
    white-space: pre;
    content: "Figura " counter(figuras) ". ";
}

fig:after {
    white-space: pre;
    content: " (Fonte: elaborado pelo autor, 2023)";
}

body {
    counter-reset: figuras;
}


img {
    max-width: 100%
}

td,
th {
    vertical-align: middle !important;
}